@using NakedObjects.Facade.Utility;
@using NakedObjects.Web.Mvc.Html
@using AplombTech.WMS.QueryModel.Areas
@model ZoneGoogleMap

@{
    Layout = "~/Views/Shared/_NofLayout.cshtml";
    ViewBag.Title ="Google Map";
}
<div id="body">

    <section class="main-content">
        @(Html.TabbedHistory(Model))
        <br />
        <p>Map View Model for Google Map</p>
        @Html.Partial("~/Views/ZoneMap/MapwithTree.cshtml", Model)

    </section>

</div>
