<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <appSettings>
    <add key="MQTTConsole" value="D:\E\wasa console\MQTT\bin\Release\AplombTech.WMS.MQTT.Client.exe" />
    <add key="DataProcessConsole" value="D:\E\wasa console\Data Processor\bin\Release\AplombTech.WMS.Sensor.Data.Processor.exe" />    
  </appSettings>
  
</configuration>