@using NakedObjects.Facade.Utility;
@using NakedObjects.Web.Mvc.Html
@using AplombTech.WMS.QueryModel.Reports
@model DrillDown

<div id="body" >
    <section class="main-content">
        @(Html.TabbedHistory(Model))
        <br/>
        <div class="col-md-offset-1">
            

        </div>
    </section>
</div>




