@using AplombTech.WMS.Site.ViewModels
@using NakedObjects.Web.Mvc.Html
@model IndexViewModel

@{
    Layout = "~/Views/Shared/_NofLayout.cshtml";
    ViewBag.Title = "WMS";
}

<div id="body">
    Map Index
    <section class="main-content">
        @Html.Partial("~/Views/IndexViewModel/Partials/MapwithTree.cshtml", Model)
    </section>
</div>