@using AplombTech.WMS.QueryModel.Sensors
@using NakedObjects.Facade.Utility;
@using NakedObjects.Web.Mvc.Html
@using AplombTech.WMS.QueryModel.Reports
@model Summary
@{
    decimal flowSensorValue = 0;
    decimal pressureSensorValue = 0;
    decimal levelSensorValue = 0;
    decimal energySensorValue = 0;
    string cholorinationSensorValue = "On";
    DateTime lastRecived = DateTime.MinValue;
    bool fsactive = false;
    bool psactive = false;
    bool lsactive = false;
    bool esactive = false;
    bool csactive = false;
}
<div id="body">
    <section class="main-content">
        @(Html.TabbedHistory(Model))
        <style>
            th {
                color: black !important;
            }

            .table tr:nth-child(even) {
                background: #b8d1f3 !important;
            }

            .table tr:nth-child(odd) {
                background: #dae5f4 !important;
            }

            table td img {
                display: inline !important;
            }
        </style>
        <br />
        <div class="col-md-offset-1">

            <table class="table">
                <tr>
                    <th>

                    </th>
                    <th>
                        <h3>Level</h3> <span>(meter)</span>
                    </th>
                    <th>
                        <h3>Pressure</h3> <span>(bar)</span>
                    </th>
                    <th>
                        <h3>Flow</h3> <span>(litre/min)</span>
                    </th>
                    <th>
                        <h3>Energy</h3> <span>(kw/h)</span>
                    </th>
                    <th>
                        <h3>Cholorination</h3> <span>(-)</span>
                    </th>
                    @*<th><h3>Active</h3></th>*@

                    <th>
                        <h3>Last Received</h3>
                    </th>
                </tr>
                @foreach (var zone in Model.Zones)
                {
                    foreach (var dma in zone.DMAs)
                    {

                        <tr>
                            <td>
                                <h4>@dma.Name</h4>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            @*<th>

                                </th>*@
                            <td></td>
                        </tr>
                        foreach (var pump in dma.PumpStations)
                        {
                            foreach (var sensor in pump.Sensors)
                            {
                                if (sensor.LastDataReceived.HasValue)
                                {
                                    lastRecived = sensor.LastDataReceived.Value;

                                }
                                if (sensor is PressureSensor)
                                {
                                    pressureSensorValue = sensor.CurrentValue;
                                    psactive = sensor.IsActive;
                                }

                                if (sensor is EnergySensor)
                                {
                                    energySensorValue = sensor.CurrentValue;
                                    esactive = sensor.IsActive;
                                }

                                if (sensor is LevelSensor)
                                {
                                    levelSensorValue = sensor.CurrentValue;
                                    lsactive = sensor.IsActive;
                                }

                                if (sensor is FlowSensor)
                                {
                                    flowSensorValue = sensor.CurrentValue;
                                    fsactive = sensor.IsActive;
                                }

                                if (sensor is ChlorinationSensor)
                                {
                                    cholorinationSensorValue = (sensor.CurrentValue > 0) ? "On" : "Off";
                                    csactive = sensor.IsActive;
                                }
                            }

                            <tr>
                                <td>
                                    @pump.Name
                                </td>
                                <td>
                                    @if (@lsactive)
                                    {
                                        <p>@levelSensorValue <span><img src="~/Images/Icons/green.png" align="middle" /></span></p>
                                    }
                                    else
                                    {
                                        <p>@levelSensorValue <span><img src="~/Images/Icons/red.png" align="middle" /></span></p>
                                    }
                                </td>
                                <td>
                                    @if (@psactive)
                                    {
                                        <p>@pressureSensorValue <span><img src="~/Images/Icons/green.png" align="middle" /></span></p>
                                    }
                                    else
                                    {
                                        <p>@pressureSensorValue <span><img src="~/Images/Icons/red.png" align="middle" /></span></p>
                                    }
                                </td>
                                <td>
                                    @if (@fsactive)
                                    {
                                        <p>@flowSensorValue <span><img src="~/Images/Icons/green.png" align="middle" /></span></p>
                                    }
                                    else
                                    {
                                        <p>@flowSensorValue <span><img src="~/Images/Icons/red.png" align="middle" /></span></p>
                                    }
                                </td>
                                <td>
                                    @if (@esactive)
                                    {
                                        <p>@energySensorValue <span><img src="~/Images/Icons/green.png" align="middle" /></span></p>
                                    }
                                    else
                                    {
                                        <p>@energySensorValue <span><img src="~/Images/Icons/red.png" align="middle" /></span></p>
                                    }

                                </td>
                                <td>
                                    @if (@csactive)
                                    {
                                        <p>@cholorinationSensorValue <span><img src="~/Images/Icons/green.png" align="middle" /></span></p>
                                    }
                                    else
                                    {
                                        <p>@cholorinationSensorValue <span><img src="~/Images/Icons/red.png" align="middle" /></span></p>
                                    }

                                </td>
                                @*<th>
                                            OK
                                        </th>*@
                                <td>
                                    @lastRecived
                                </td>
                            </tr>
                            flowSensorValue = 0;
                            pressureSensorValue = 0;
                            levelSensorValue = 0;
                            energySensorValue = 0;
                            lastRecived = DateTime.MinValue;
                        }
                    }
                }

            </table>
            @Html.ActionLink("Export to Excel", "ExportToExcel",null, new { @class = "btn btn-default" })
            <br/>
        </div>
    </section>
</div>
